<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Connection String SQL-->
    <add key="ConnectionIronMountainDB" value="Data Source=195.181.247.40;Initial Catalog=ironmountain;Persist Security Info=True; User ID=sa;Password=PaoMOP0+hC51eWUIfSl/oA== "/>
  </appSettings>
</configuration>